@model IQueryable<Czechicoach.Models.Coach>

@{
    ViewBag.Title = "Coaches";
}

<div class="row index">
    <div class="jumbotron">
        <h1>CzechiCoach</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Action:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coach in Model)
            {
                <tr>
                    <td>
                        @coach.FirstName
                    </td>
                    <td>
                        @coach.LastName
                    </td>
                    <td>
                        @coach.Email
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Destroy", new {id = coach.Id}, new { @class = "glyphicon glyphicon-trash"})
                        |
                        @Html.ActionLink(" ", "Edit", new { id = coach.Id }, new { @class = "glyphicon glyphicon-pencil" })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
